*{
  justify-content: center;
  align-items: center;
}

body{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, gray, #ffd900);
    height:auto;
  }

h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color:black;
}


h2{
    margin: 10px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: large;
}

.container{
    background:rgba(0,0,0,0.20);
    position:relative;
    width: 400px;
    height:580px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .containerS{
    background:rgba(0,0,0,0.20);
    position:relative;
    width: 400px;
    height:650px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  #mailpass{
    margin: 20px;
  }

  #inputText{
    width: 300px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid #0000;
    border-color: #c2c8d0!important;
    padding:14px;
  }

  #inputText[type=text]{
    color: black;
    font-size: 14px;
    border: 1px solid #ffd900;
    border-color: #c2c8d0!important;
  }

  .btn{
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    width: 300px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #00000000;
  }

  i{
    color: inherit;
  }

  .boxDivider {
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    height: inherit;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

#btnLogIn{
  background-color: #ffd900;
  border-color: #ffd900;
}

#btnFacebook{
  background: #1877f2!important;
  border-color: #1877f2!important;
  color: white;
}

.marginLostPass{
  margin: 18px;
  color: white;
}

a{
  font-family: "Inter", sans-serif;
  color: #282a35;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.terminos{
  font-family: "Inter", sans-serif;
  color: #ffffff;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}
